.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form{
  margin: 1%;
}

li{
  margin: 1%;
}

.App-link {
  color: #61dafb;
}

#list_div{
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100%;
  width: 50%;
}
#actions_div{
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100%;
  width: 50%;
}

ul {
  max-height: 100vh; /* Set the maximum height to the viewport height */
  overflow-y: auto;  /* Enable vertical scrolling */
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
  direction: rtl;
  width: 100%;
}

li{
    list-style: none; 
    margin-bottom: '10px' ;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: to visually separate items */
    width: 100%;
    direction: ltr;
  }

label{
  display: flex;
  flex-direction: row;
}
.radios{
  margin-right: 10%;
}

.del-buttons {
  margin-right: 10px;
  margin-left: 5%;
  padding: 5px 10px;
  opacity: 0%; /* Hide the button by default */
}

li:hover {
  background-color: rgba(4, 247, 255, 0.5);
}

li:hover .del-buttons {
  opacity: 100%; /* Show the button when hovering over the list item */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
